################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WpfThreading/v14
/packages
/WpfThreading/bin/Debug
/WpfThreading/obj/Debug
/WpfThreadingTests/obj/Debug
/WpfThreadingTests/bin/Debug
