<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="TOPODATA"
         connectionString="Server=127.0.0.1;Port=5432;Database=TOPODATA;User Id=topodata;Password=topodata;"
         providerName="Npgsql"
   		  />
  </connectionStrings>
</configuration>